@use "./../mixin/" as *;
.drawer-button {
  display: grid;
  padding: 0.4rem;
  border: 0.1rem solid var(--black-1);
}
.drawer-button {
  > * + * {
    margin-top: 0.6rem;
  }
}

.drawer-button__bar {
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--black-1);
}

.drawer-button__bar:nth-child(1) {
}
.drawer-button__bar:nth-child(1) {
}
.drawer-button__bar:nth-child(1) {
}

.drawer-button__text {
}
