@use "./../mixin/" as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-index-header);
  backdrop-filter: blur(2px);
}

.header__inner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  padding-inline: calc(var(--col) * 1 + var(--gap) * 1 + var(--margin) * 1);
  padding-block: 2.4rem;
}

.header__logo {
}

.header__title {
  display: block;
  font-size: text(24);
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 1;
}

.header__title__char {
  font-size: text(26);
  margin-right: -0.25rem;
}

@include mq(sp) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-index-header);
    backdrop-filter: blur(2px);
  }

  .header__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding-inline: calc(var(--margin) * 1);
    padding-block: 1.6rem;
  }

  .header__logo {
  }

  .header__title {
    display: block;
    font-size: text(16);
    letter-spacing: 0.01em;
    font-weight: 500;
    line-height: 1;
  }

  .header__title__char {
    font-size: text(18);
    margin-right: -0.12rem;
  }
}
