@use "./../mixin/" as *;

.nav-aside {
  --margin-top: var(--header-height);
  display: grid;
  row-gap: 4.8rem;
  position: sticky;

  top: calc(var(--margin-top) * 1.5);
  padding-bottom: calc(var(--margin-top) * 1.5);
  height: calc(100vh - var(--margin-top));

  overflow-y: scroll;
  scrollbar-width: thin; //webkit
  scrollbar-color: var(--black-1) var(--baige-1); //webkit
  overscroll-behavior-y: none;
}

.nav-aside__filter {
  display: grid;
  row-gap: 1.2rem;
}

.nav-aside__title {
  font-size: text(18);
}

@include mq(sp) {
  .nav-aside {
    display: grid;
    row-gap: 2.4rem;
    position: static;

    top: auto;
    padding-bottom: 0;
    height: auto;
    overflow-y: auto;
    scrollbar-width: auto; //webkit

    overscroll-behavior-y: auto;
  }

  .nav-aside__filter {
    display: grid;
    row-gap: 0.4rem;
  }

  .nav-aside__title {
    font-size: text(12);
    padding-inline: var(--margin);
  }

  .nav-aside__list {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scrollbar-color: var(--black-1) var(--baige-1);
    padding-inline: var(--margin);
  }
}
