@use "./../mixin/" as *;

.accordion__content {
  display: grid;
  transition: 0.2s;
}

.accordion__content[aria-hidden="true"] {
  grid-template-rows: 0fr;
  margin-top: 0;
}

.accordion__content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.accordion__content[aria-hidden="true"] .accordion__content__inner {
  padding-top: 0;
  padding-bottom: 0;
}

.accordion__content[aria-hidden="false"] .accordion__content__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.accordion__content__inner {
  overflow: hidden;
  transition: var(--duration);
}
