@use "./../mixin/" as *;

.resource-grid {
  display: grid;
  grid-template-columns: repeat(2, cols(8));
  justify-content: space-between;
}

@include mq(sp) {
  .resource-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: stretch;
    padding-inline: var(--margin);
  }
}
