@use "./../mixin/" as *;

.swiper {
}

.swiper-wrapper {
}

.swiper-slide {
}

.swiper-indicator {
}

.swiper__controls {
  position: absolute;
  z-index: 10;
  bottom: 0;
}

.swiper-button {
}

.swiper-button--prev {
}

.swiper__controls__button {
}

.swiper-button--next {
}
