@use "./../../mixin/" as *;

.top-title {
}

.top-title__header {
  display: grid;
}

.top-title__sub-heading {
  font-size: text(16);
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-left: 0.4rem;
}

.top-title__heading__row {
}

.top-title__sub-heading ._silkskreen {
  margin-right: -0.1rem;
  font-size: text(18);
}

.top-title__heading {
  line-height: 1.2;
  font-size: text(24);
  font-weight: 500;
  display: grid;
  letter-spacing: 0.01em;
}

@include mq(sp) {
  .top-title {
    padding-inline: var(--margin);
  }

  .top-title__header {
    display: grid;
  }

  .top-title__sub-heading {
    font-size: text(12);
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-left: 0.25rem;
  }

  .top-title__heading__row {
    // display: contents;
  }

  .top-title__sub-heading ._silkskreen {
    margin-right: -0.1rem;
    font-size: text(15);
  }

  .top-title__heading {
    line-height: 1.2;
    font-size: text(16);
    font-weight: 500;
    display: grid;
    letter-spacing: 0.01em;
  }
}
